.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  outline: none;
  border-bottom: 1px rgba(0, 0, 0, .2) solid;
  padding: 13px 0;
  margin-bottom: 28px;

}


/* .popup__input:not(:last-of-type) {
  margin-bottom: 28px;
} */

.popup__input:invalid {
  margin-bottom: 0;
}
