.header__logo {
  max-width: 142px;
  width: 100%;
  min-height: 33px;
  background: url(../../../image/logo.svg) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 580px) {
  .header__logo {
    max-width: 104px;
    margin-left: 27px;
  }
}
