.popup__button_type_submit {
  width: 100%;
  background-color: #000;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 16px 125px 13px;
  margin-top: 47px;
  cursor: pointer;
}

.popup__button_type_submit:hover {
  opacity: .8;
}

@media screen and (max-width: 576px) {
  .popup__button_type_submit {

    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (576 - 320)));
    line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (576 - 320)));
    padding: 16px calc(82px + (125 - 82) * ((100vw - 320px) / (576 - 320))) 13px;
    margin-top: 44px;
  }
}
